li {
    padding: 5px;
    margin: 5px;
  }
  
  label {
    font-weight: bold;
  }
  
  .create-form {
    padding: 5px;
    margin: 5px;
  }
  
  .form-group {
    margin: auto;
    text-align: center;

  }
  #bigBurger{
    height: 10cm;
    width: 10cm;
  }
  #addBurger{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #header{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .add{
    margin: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }